@model Fox
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
@{
    string food;
    string drink;
    if (Model.Food != null)
    {
        food = Model.Food.Name;
    }
    else
    {
        food = "no food";
    }
    if (Model.Drink != null)
    {
        drink = Model.Drink.Name;
    }
    else
    {
        drink = "no drink";
    }
    int numberOfTricks = (Model.Tricks is null) ? 0 : Model.Tricks.Count;

}
<img src="~/images/greenfox.png">
<p>This is @Model.Name . Currently living on @food and @drink. Knows @numberOfTricks tricks</p>
<h1>Known tricks</h1>
@if (@Model.Food.Portion != 0 && Model.Drink.Portion != 0)
{
<table>
    <tr>
        <td>Food:</td>
        <td></td>
    </tr>
    <tr>
        <td>Drink</td>
        <td></td>
    </tr>
</table>
}
else
{
        <p>You have no more portion of food and drink left.</p>
}
@if (@Model.Tricks is null || Model.Tricks.Count == 0)
{
    <p>You know no tricks yet. Go and learn some</p>
}
else
{
    <ul>
        @foreach (string item in Model.Tricks)
        {
            <li>@item</li>
        }

    </ul>
}
