@model Fox
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
@{
    string food;
    string drink;
    if (Model.Food != null)
    {
        food = Model.Food.Name;
    }
    else
    {
        food = "no food";
    }
    if (Model.Drink != null)
    {
        drink = Model.Drink.Name;
    }
    else
    {
        drink = "no drink";
    }
    int numberOfTricks = (Model.Tricks is null) ? 0 : Model.Tricks.Count;

}
@if (Model.IsDead)
{
    <img src="~/images/deadfox.png" />
}
else
{
    switch (Model.SelectedTrick)
    {
        case "default":
            <img src="~/images/greenfox.png"  />
            break;
        case "Hacking":
            <img src="~/images/hack.gif" width="200"/>
            break;
        case "Take a selfie":
            <img src="~/images/selfie.gif" height="300" />
            break;
        case "Hunting":
            <img src="~/images/huntingsnow.gif" />
            break;
        case "Vlogging":
            <img src="~/images/vlog.gif" />
            break;
        case "Thieving":
            <img src="~/images/thieving.gif" width="300" />
            break;
        case "Drinking coffee":
            <img src="~/images/coffee.gif" />
            break;
        default:
            <img src="~/images/greenfox.png" />
            break;
    }

}
<p>This is @Model.Name . Currently living on @food and @drink. Knows @numberOfTricks tricks</p>

@if (@Model.Food != null || Model.Drink != null)
{
    <h1>Nutrition</h1>
    <table>
        @if (Model.Food.Portion >= 0)
        {
            <tr>
                <td>Food:</td>
                <td>
                    @for (int i = 0; i < Model.Food.Portion; i++)
                    {
                        <img src="~/images/food.png" height="30">
                    }
                </td>
            </tr>
        }
        else
        {
            <tr>You have no more portion of food left.</tr>
        }
        @if (Model.Drink.Portion >= 0)
        {
            <tr>
                <td>Drink</td>
                <td>
                    @for (int i = 0; i < Model.Drink.Portion; i++)
                    {
                        <img src="~/images/drink.png" height="30">
                    }
                </td>
            </tr>
        }
        else
        {
            <tr>You have no more portion of drink left.</tr>
        }
    </table>
}
<h1>Known tricks</h1>
@if (@Model.Tricks is null || Model.Tricks.Count == 0)
{
    <p>You know no tricks yet. Go and learn some</p>
}
else
{
    <ul>
        @foreach (string item in Model.Tricks)
        {
            <li>@item</li>
        }

    </ul>
}
@if (Model.Tricks != null && Model.Tricks.Count != 0)
{
    <form action="/selectTrick" method="post">
        <select name="selecTrick">
            <option value="default">Default</option>
            @foreach (string trick in Model.Tricks)
            {
                <option value=@trick>@trick</option>
            }
        </select>
        <button type="submit">Choose</button>
    </form>
}