@model List<BankAccount>
@{
    ViewData["Title"] = "Animals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Animals</h2>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <table style="border-collapse:collapse;border:1pt solid black;">
        @foreach (BankAccount item in Model)
        {
        <tr>
            <td style="border-collapse:collapse;border:1pt solid black;";>@item.ID</td>
            <td style="border-collapse:collapse;border:1pt solid black;">@item.Name</td>
            <td style="border-collapse:collapse;border:1pt solid black;">@item.Balance @item.Currency</td>
            <td style="border-collapse:collapse;border:1pt solid black;">@item.AnimalType</td>
        </tr>
        }

    </table>
</body>
</html>

