@model List<BankAccount>
@{
    ViewData["Title"] = "Animals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Animals</h2>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    
    <table class="table table-bordered table-responsive table-hover">
        <th>ID</th>
        <th>Name</th>
        <th>Balance (Currency)</th>
        <th>Animal type</th>
        <th>Is king?</th>
        <th>Bad or Good guy?</th>
        @foreach (BankAccount item in Model)
        {
        @if (item.King)
        {
        <tr style="color:gold;">

            <td>@item.ID</td>
            <td>@item.Name</td>
            <td>@item.Balance @item.Currency</td>
            <td>@item.AnimalType</td>
            <td>@item.King</td>
            <td>@item.GoodGuy</td>


        </tr>
}
else
{
        <tr>

            <td>@item.ID</td>
            <td>@item.Name</td>
            <td>@item.Balance @item.Currency</td>
            <td>@item.AnimalType</td>
            <td>@item.King</td>
            <td>@item.GoodGuy</td>
        </tr>
}
}

    </table>
    <form action="AddMoney" method="post">
        <select name="ID">
            @foreach (BankAccount item in Model)
            {
                <option value=@item.ID>@item.Name</option>
            }
        </select>
        <button type="submit" value="submit">Get Money</button>
    </form>
</body>
</html>

