@model List<Post>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a href="/submit">Submit new post</a>
<h2>Trending posts</h2>
@if (Model!=null)
{
    <table class="table table-striped">
    @foreach (Post post in Model)
    {
        int rate = @post.Upvote - @post.DownVote;
        <tr align="center">
            <td style="width:5%;">@rate</td>
            <td style="width:5%;"><a class="button" href="@post.Id/upVote">+</a></td>
            <td style="width:5%;"><a class="button" href="@post.Id/downVote">-</a></td>
            <td align="left"><a href=@post.Url>@post.Title</a></td>
            <td align="left">@post.CreatedAt</td>
        </tr>
    }
    </table>

}




