@model TodosOfAssignees
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Todos for today</h2>
<a href="/addnew">Add new todo</a><br/>
<a href="/listAssignees">List Assignees</a>
<form action="/searchtodos" method="post">
    <input type="text" class="glyphicon-search" name="searchedString" />
    <button type="submit">Search</button>
</form>
<table class="table table-bordered table-responsive table-hover">
    <thead>
    <th>Id</th>
    <th>Title</th>
    <th>Is urgent?</th>
    <th>Is done?</th>
    <th>Assignee</th>
    <th>Created</th>
    <th>Delete</th>
    <th>Edit</th>
    </thead>

    @foreach (Todo t in Model.Todos)
    {
    <tr>
        <td>@t.Id</td>
        <td>@t.Title</td>
        <td>@t.IsUrgent</td>
        <td>@t.IsDone</td>
        
            @if (t.Assignee != null)
            {
            <td>
            @Model.Asignees.FirstOrDefault(x => x.Id == t.Assignee.Id).Name
            </td>
            }
            else
            {
                <td>No one</td>
            }

        <td>@t.CreatedAt</td>
        <td><a href="/@t.Id/delete">Delete</a></td>
        <td><a href="/@t.Id/edit">Edit</a></td>
    </tr>
    }
</table>

