@model TodosOfAssignees
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Test</h2>

<table class="table table-bordered table-responsive table-hover">
    @foreach (Assignee assi in Model.Asignees)
    {
        <tr>
            <td style="width:20%;">
                <form action="/showHide" method="post">
                    <button type="submit" name="i" value=@Model.Asignees.IndexOf(assi)>+</button>
                </form>
            </td>
            <td style="width:40%;">@assi.Name</td>
            <td style="width:40%;">@assi.Email</td>
        </tr>
        @if (Model.Show[Model.Asignees.IndexOf(assi)])
        {
            @foreach (Todo todo in Model.Todos)
            {
                @if (todo.Assignee != null)
                {
                @if (todo.Assignee.Id == assi.Id)
                {
                    <tr>
                        <td style="width:20%;">@todo.Title</td>
                        <td style="width:40%;">@todo.CreatedAt</td>
                        <td style="width:40%;">@todo.IsUrgent</td>
                    </tr>
                }
               }
            }

        }
    }
</table>
